.win {
  background-color: green;
  padding: 1rem;
  color: white;
}

.loss {
  background-color: maroon;
  padding: 1rem;
  color: white;
}

.neutral {
  background-color: #8ecae6;
  padding: 1rem;
}
